@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
body{
    margin: 0px;
    background-color: black;
}
a{
    color:White;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#FFD700;
}
#header{
    overflow:hidden;
    position:sticky;
}
.header-text-section{
    
}
.header-text-section ul{
    display: flex;
    padding-left:75px;
    padding-top:20px;
    padding-bottom:20px;
    flex: row;
    flex-wrap: nowrap;
    text-align: center;
    gap: 200px;
    float:left;
}
.header-text-section li{
    list-style-type: none;
    display:inline;
    margin:0;
    padding:0;
}
.header_text{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color:white;
}
.hover-underline{
    display: inline-block;
    position: relative;
}
.hover-underline:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.hover-underline:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #FFD700;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}
.body_section{
    
}
@media only screen and (min-width:800px) and (max-width:1000px) {
    .header-text-section{
        gap:10px;
        padding-left:20px;
    }
    .header_text{
        font-size:3vw;
    }
    .icons{
        gap:30px;
    }
    .name{
        font-size:5vw;
    }
    .slideshow_container{
        height:auto;
    }
    .slideshow_img{
        height:auto;
    }
}
@media only screen and (min-width:300px) and (max-width:500px) {
    .header-text-section{
        gap:10px;
        padding-left:20px;
    }
    .header_text{
        font-size:3vw;
    }
    .icons{
        gap:30px;
        height:2vh;
        width:2vh;
    }
    .name{
        font-size:5vw;
    }
    .slideshow_container{
        height: 500px;
    }
    .slideshow_img{
        height: 500px;
    }
}
#footer{
    bottom:2px;
    overflow:hidden;
    position:absolute;
    width:100%;
    margin:0;
    padding:0;
}
.icon-section{
    width:100%;
    margin:0;
    padding:0;
}
.icon-section ul{
    margin:0;
    padding-right:30px;
    float:Right;
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    text-align: center;
    gap: 20px;
}
.icon-section li{
    list-style-type: none;
    display:inline-block;
}
.icons{
    height:20px;
    width:20px;
}