body{
    margin: 0px;
    background-color: black;
}
a{
    color:White;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#FFD700;
}
.header{
    overflow:hidden;
    position:sticky;
}
.header-text-section{
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    text-align: center;
    gap: 200px;
    float:left;
    padding-left:100px;
    padding-top:30px;
    padding-bottom:30px;
}
.header_text{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color:white;
}
.icons{
    padding-top: 40px;
    padding-right:20px;
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    gap:40px;
    float:right;
    height:30px;
    width:30px;
}
.body_text_heading{
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color:white;
    padding-left: 15%;
    text-align: left;
}
.body_text{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    padding-left: 15%;
    color:white;
    text-align: left;
}
.body_img{
    border-radius: 35%;
    width: 800px;
    height: 1000px;
    image-rendering: crisp-edges;
    float: right;
    vertical-align: top;
    padding: 80px;
}
.slideshow_container{
    top: 0px; right: 0; bottom: 0; left: 0;
    display: block;
    height:900px;
}
.slideshow_container:hover{
    animation-name: imageSlide;
    animation-direction: normal;
    animation-play-state: running;
    transition-timing-function: ease;
    animation-fill-mode: forwards;
}
.slideshow_img:hover{
    animation-name: imageSlide;
    animation-direction: normal;
    animation-play-state: running;
    transition-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes imageSlide{
  
}
.slideshow_img{
    opacity: 40%;
    object-fit: cover;
    height:900px;
    width: 100%;
    image-rendering: crisp-edges;
}
.about-me{
    padding-top: 100px;
}
.about-me p{
    display:block;
    line-height: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
.name{
    font-family: 'Playfair Display', serif;
    display: block;
    font-size: 100px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color:white;
    text-align: left;
}