@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,700&display=swap');
:root {
    margin: 0;
    padding: 0;
    background-color: #FFE6CC;
    --primary-color: hsl(14, 53%, 22%);
    text-decoration: var(--primary-color);
    overflow-x: hidden;
}
body {
    padding:0;
    margin:0;
}
body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: var(--primary-color);
}

body::-webkit-scrollbar-thumb {
    background:#8DA6AF;
    border-radius:2rem;
}
header {

}
main {
    
}
#header-name {

}
a {
    color:var(--primary-color);
    text-decoration: none;
}
.slideshow_container {
    display: block;
    height:900px;
    width:100vw;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: imageSlide;
    animation-duration: 2s;
    animation-delay: 1s;
}
.slideshow_container:hover {
    animation-play-state: running;
}
.slideshow_img {
    height: inherit;
    opacity: 40%;
    object-fit: cover;
    width: 100vw;
    image-rendering: crisp-edges;
}
@keyframes imageSlide {
    from {
        opacity:0;
        padding-bottom:-900px;
        height:900px;
    }
    to {
        opacity:1;
        padding-bottom:-400px;
        height:400px;
    }
}
#name {
    margin:0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
    display: block;
    font-size: 85px;
    color:black;
    text-align: center;
}
#name-wrapper {
    position:absolute;
    width:100vw;
    height:inherit;
}
footer {
    
} 