#main-display-section {
    display:flex;
}
#portrait-section {
    flex:1;
    margin:0;
    width:50rem;
    height:60rem;
}
#portrait-photo {
    object-fit:cover;
    width:100%;
    height:100%;
}
#services-section {
    flex:2;
    height:60rem;
    width:40rem;
    margin:0;
}
#services-text {
    margin-left:5rem;
}