@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,700&display=swap');
main{
    background-color: #606c38;
    font-family:'Montserrat';
    color:#fefae0;
    padding-top:10vh;
}
#contact-section {
    margin-left:40vw;
    margin-right:40vw;
}
#contact-form {
    text-align:left;
    border-style: solid;
    border-width: 2rem;
    border:white;
    font-size: 1rem;
    padding-bottom: 30vh;
}
.form-input {
    margin-top:0.5rem;
    width: 100%;
    height: 2rem;
    border-radius: 0.25rem;
    border: none;
}
textarea {
    margin-top: 0.5rem;
    width: 20vw;
    height: 10vh;
    overflow-y: scroll;
    resize: none;
    border: none;
    border-radius: 0.25rem;
}

#submit-button {
    margin-left: 32%;
    margin-right: 30%;
    font-family: 'Montserrat';
    background-color:#432818;
    color:#fefae0;
    border-radius: 2rem;
    border: none;
    width: 8rem;
    height: 2rem;
}