#slideshow_container {
    display: block;
    height: 100vh;
    width: 100vw;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: imageSlide;
    animation-duration: 2s;
    animation-delay: 1s;
}
.slideshow_img {
    height: inherit;
    opacity: 40%;
    object-fit: cover;
    width: 100vw;
    image-rendering: crisp-edges;
}
@keyframes imageSlide {
    from {
        padding-bottom: -90vh;
        height: 90vh;
    }
    to {
        padding-bottom:-50vh;
        height: 50vh;
    }
}
#name {
    margin:0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    display: block;
    font-size: 85px;
    color:black;
    text-align: center;
}
#name-wrapper {
    margin:0;
    position: absolute;
    width: 100vw;
    height: inherit;
}
#about-section{
    padding-top:5vh;
    padding-bottom:10vh;
    padding-left:25vw;
    padding-right:20vw;
    background-color: var(--primary-color);
}
#about-text-highlight{
    display:inline-block;
    color: var(--secondary-color);
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bolder;
    line-height:1.6;
}
#about-button {
    margin-top: 3vh;
    width:14rem;
    height:3.5rem;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: #866456;
    border-style: none;
    border-color: white;
    color: #FFE6CC;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 500ms;
}
#about-button:hover {
    opacity: 0.2;
}
#main-display-section {
    display:flex;
}
#portrait-section {
    flex:1;
    margin:0;
    width:50rem;
    height:60rem;
}
#portrait-photo {
    object-fit:cover;
    width:100%;
    height:100%;
}
#services-section {
    flex:2;
    height:60rem;
    width:40rem;
    margin:0;
}
#services-text {
    margin-left:5rem;
}
#projects-section {
    padding-top:5vh;
    padding-bottom:8vh;
    padding-left:10vw;
    padding-right:10vw;
    background-color: #4B6611;
}
#projects-text-highlight {
    display:inline-block;
    color: #FFE6CC;
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bolder;
    line-height:1.6;
}
#projects-button {
    margin-top: 5vh;
    margin-left: 63vw;
    width:14rem;
    height:3.5rem;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: #74B32D;
    border-style: none;
    border-color: white;
    color: #FFE6CC;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 500ms;
}