#slideshow_container {
    display: block;
    height: 100vh;
    width: 100%;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-name: imageSlide;
    animation-duration: 2s;
    animation-delay: 500ms;
}
.slideshow_img {
    height: inherit;
    opacity: 40%;
    object-fit: cover;
    width: 100vw;
    image-rendering: crisp-edges;
}
@keyframes imageSlide {
    from {
        padding-bottom: -90vh;
        height: 90vh;
    }
    to {
        padding-bottom:-50vh;
        height: 50vh;
    }
}
#name {
    margin:0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    display: block;
    font-size: 6rem;
    color:black;
    text-align: center;
}
#name-wrapper {
    margin:0;
    position: absolute;
    width: 100vw;
    height: inherit;
}
#about-section{
    padding-top:5vh;
    padding-bottom:10vh;
    padding-left:25vw;
    padding-right:24vw;
    background-color: var(--primary-color);
}
#uw {
    color:var(--secondary-color);
}
#uw:hover{
    background-color: #b7a57a;
    color: #502484; 
}
#about-text-highlight{
    display:inline-block;
    color: var(--secondary-color);
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bolder;
    line-height:1.6;
}
#about-button {
    margin-top: 3vh;
    width:14rem;
    height:3.5rem;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: #866456;
    border-style: none;
    border-color: white;
    color: #FFE6CC;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 500ms;
}
#main-display-section{
    width:100%;
    height:30vh;
}
#portrait-section {
    display:flex;
    margin:0;
    padding:0;
    width:20vw;
    height:inherit;
    align-items: center;
    justify-content: center;
}
#portrait-photo {
    display: block;
    position: relative;
    width: 8rem;
    height: inherit;
}
#exposition-section{
    display:inline-block;
    margin:0;
    width:auto;
    height:inherit;
}
#projects-section {
    padding-top:5vh;
    padding-bottom:8vh;
    padding-left:10vw;
    padding-right:10vw;
    background-color: #283618;
}
#projects-text-highlight {
    display:inline-block;
    color: #fefae0;
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bolder;
    line-height:1.6;
}
#projects-button {
    margin-top: 5vh;
    margin-left: 63vw;
    width:14rem;
    height:3.5rem;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: #606c38;
    border-style: none;
    border-color: white;
    color: #fefae0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 500ms;
}