#main-section {
    margin-left: 10vw;    
    margin-right: 10vw;    
}

.image-section :global(img) {
  object-fit: contain;
  object-position: center;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#space_needle {
    width: 40rem !important;
    height: 50rem !important;
    margin: auto;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

#gen1 {
    width: 45rem;
    height: 25rem;
    margin: 0 auto;
    clip-path: polygon(0% 10%, 100% 10%, 100% 90%, 0% 90%);
}

#globaldeel {
    margin: auto;
    width: 50rem !important;
    height: 30rem !important;
    border-radius: 5%;
}

#rattlesnake {
    width: 50rem !important;
    height: 40rem !important;
    margin: auto;
}

.about-links {
    position: relative;
    background-color: #faf6f6;
}

.about-links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
  }

.about-links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#values-section {
    margin-left: 10vw;
    margin-right: 10vw;
}

#gallery-section {
    
}

/* Styles for mobile devices (up to 767px wide) */
@media screen and (max-width: 767px) {
    #main-section {
        margin-left: 10vw;    
        margin-right: 10vw;    
    }

    .image-section :global(img) {
        object-fit: contain;
        object-position: center;
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    #space_needle {
        width: 25rem !important;
        height: 40rem !important;
        margin: auto;
        border-radius: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    #gen1 {
        width: 45rem;
        height: 25rem;
        margin: 0 auto;
        clip-path: polygon(0% 10%, 100% 10%, 100% 90%, 0% 90%);
    }

    #globaldeel {
        margin: auto;
        width: 50rem !important;
        height: 30rem !important;
        border-radius: 5%;
    }

    #rattlesnake {
        width: 50rem !important;
        height: 40rem !important;
        margin: auto;
        border-radius: 5%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .about-links {
        text-decoration: underline;
    }

    #values-section {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #gallery-section {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

/* Styles for tablets and larger (768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}