@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
  animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeLeft {
  animation: fadeLeft 2s ease-in-out forwards;
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeRight {
  animation: fadeRight 2s ease-in-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.zoomIn {
  animation: zoomIn 2s ease-in-out forwards;
}

@media (prefers-reduced-motion: reduce) {
  .fadeUp {
    transition: none;
    animation: none;
  }
  
  .fadeLeft {
    transition: none;
    animation: none;
  }
  
  .fadeRight {
    transition: none;
    animation: none;
  }
  
  .zoomIn {
    transition: none;
    animation: none;
  }

}