@import url('@/assets/fonts/satoshi/Fonts/WEB/css/satoshi.css');

/*
Minimalistic Form. 
by: Matheus Marsiglio
*/

#contact-form {
  font-family: Satoshi-Light;
  position: relative;
  width: 670px;
}

.contact-input {
  font-size: 0.875em;
  width: 670px;
  height: 70px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: black;
  
  border: solid 1px black;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact-input:hover {
  background: #d6d4d4;
  color: black;
}

textarea {
  width: 670px;
  height: 200px;
  max-width: 670px;
  max-height: 200px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: black;
  font-size: 0.875em;
  
  border: solid 1px black;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  
  margin-bottom: 0;
  display: block;
}

#message:hover {
  background: #d6d4d4;
  color: black;
}

#submit {
  display: block;
  
  width: 670px;
  padding: 0;
  margin-top: 0;
  
  font-size: 0.875em;
  color: black;
  
  outline: none;
  cursor: pointer;
  
  border: solid 1px black;
  border-top: none;
}

#submit:hover {
  color: #aca49c;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #aca49c;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #aca49c;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: #aca49c;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #aca49c;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #aca49c;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #aca49c;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #aca49c;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover:focus::-ms-placeholder {
  color: #aca49c;
}

/* Styles for mobile devices (up to 767px wide) */
@media screen and (max-width: 767px) {
  #contact-form {
    width: 300px;
  }

  .contact-input {
    width: 300px;
    height: 8vh;
  }

  .contact-input:hover {
    background: #d6d4d4;
    color: black;
  }

  #message {
    width: 300px;
    height: 130px;
    max-width: 300px;
    height: 8vh;
  }

  #submit {
    width: 300px;
    flex-shrink: 0;
  }
}

/* Styles for tablets and larger (768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}