@import url('@/app/assets/fonts/satoshi/Fonts/WEB/css/satoshi.css');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Satoshi-Regular;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

nav {
    overflow:hidden
}

nav a {
    float: right;
    text-align:center;
    padding-top:1.5rem;
    padding-right:12rem;
    font-size: 1.5rem;
}

nav a:hover {

}

nav a:active {

}