@import url('@/app/assets/fonts/satoshi/Fonts/WEB/css/satoshi.css');
@import "tailwindcss";

:root {
  /* background: conic-gradient(from .5turn at bottom center, lightblue, white); */
  --background: #ffffff;
  --foreground: #171717;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  font-family: Satoshi-Regular;
  scroll-behavior: smooth;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain;
}

main {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

nav {
  width: 100%;
  padding: 1.5rem;
}

nav a {
  top: 0;
  float: right;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
}

nav a:hover {

}

nav a:active {

}

#nav-menu {
  display: flex;
  align-items: center;
  float: right;
  gap: 10vw;
  margin-right: 6rem;
}

footer {
  width: 100%;
  height: 100%;
  font-family: Satoshi-Light;
  bottom: 0;
}

#footer-section {
  justify-content: center;
  align-items: center;
}

footer a {

}

footer a:hover {

}

footer a:active {

}

#footer-desc {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
}

#socials-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* Styles for mobile devices (up to 767px wide) */
@media screen and (max-width: 767px) {

  html, body{
    overflow-x: hidden;
    overflow-y: scroll;
  }

  nav {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  nav a {
    top: 0;
    float: none;
    justify-content: inherit;
    align-items: inherit;
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem;
  }

  #nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    margin: 0;
    padding: 0.2rem;
  }

  #footer-desc {
    font-size: 0.5rem;
    text-align: center;
    width: 100%;
  }

  #socials-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
}

/* Styles for tablets and larger (768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
 html, body{
    overflow-x: hidden;
    overflow-y: scroll;
  }

  nav {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  nav a {
    top: 0;
    float: right;
    justify-content: inherit;
    align-items: inherit;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }

  #nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    margin: 0;
  }

  footer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Satoshi-Light;
    bottom: 0;
  }
}