@import url('@/app/assets/fonts/satoshi/Fonts/WEB/css/satoshi.css');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  font-family: Satoshi-Regular;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

nav {
  width: 100%;
  overflow: hidden;
  padding: 1.5rem;
}

nav a {
  float: right;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
}

nav a:hover {

}

nav a:active {

}

#nav-menu {
  display: flex;
  align-items: center;
  float: right;
  gap: 12rem;
  margin-right: 6rem;
}

footer {
  width: 100%;
  overflow: hidden;
  font-family: Satoshi-Light;
}

footer a {

}

footer a:hover {

}

footer a:active {

}

#footer-desc {
  text-align: center;
}

#socials-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}