@import url('@/app/assets/fonts/satoshi/Fonts/WEB/css/satoshi.css');

#intro-section {
    padding: 4rem;
}

#intro-grid {
    display: flex;
    align-items: center;
}

#greeting-section {
    height: 600px;
    flex: 1;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#portrait-image-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#greeting-header {
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: Satoshi-Medium;
}

#greeting-text {
    font-size: 2rem;
}

#portrait-image {
    border-radius: 70px 100px 30px 100px;
    align-items: center;
    justify-content: center;
}

#buttons-section {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#download-cv-btn {
    
}

#contact-btn {

}
