@import url('@/app/assets/fonts/satoshi/Fonts/WEB/css/satoshi.css');

#intro-section {
    position: relative;
    margin: 4rem;
}

#intro-grid {
    display: flex;
    align-items: center;
}

#greeting-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    flex: 1;
    padding: 2rem;
}

#portrait-image-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#greeting-header {
    text-align: left;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: Satoshi-Medium;
    text-indent: -0.35rem;
}

#greeting-text {
    text-align: left;
    font-size: 2rem;
}

#portrait-image {
    border-radius: 70px 100px 30px 100px;
    align-items: center;
    justify-content: center;
}

#buttons-section {
    margin-top: auto;
    position: relative;
    display: flex;
    gap: 2rem;
}

#showcase-section {
    width: 50rem;
    margin: 0 auto;
}

#experiences {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#skills {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#skills-list {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
}

/* Styles for mobile devices (up to 767px wide) */
@media screen and (max-width: 767px) {
    #intro-section {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 4rem;
    }

    #intro-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #greeting-section {
        height: 85vh;
        flex: 1;
        padding: 2rem;
        justify-content: center;
        align-items: center;
    }

    #portrait-image-container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    #greeting-header {
        text-align: center;
        position: relative;
        font-size: 5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: Satoshi-Medium;
    }

    #greeting-text {
        text-align: center;
        position: relative;
        font-size: 2rem;
    }

    #portrait-image {
        border-radius: 70px 100px 30px 100px;
        align-items: center;
        justify-content: center;
    }

    #buttons-section {
        margin-top: 5vh;
        margin-bottom: 5vh;
        flex-direction: column;
    }
}

/* Styles for tablets and larger (768px and up) */
@media (max-width: 1024px) {

}