#card {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

#image-section {
    display: flex;
    justify-content: center;
    width: 90%;
}

.text-section {
    width: fit-content;
    padding: 2rem;
    height: fit-content;
}

#text-left-section {
    align-items: right;
}

#text-right-section {
    align-items: left;
}

.text-section h1 {
    margin-top: 5vh;
    width: fit-content;
    height: fit-content;
    font-size: 4rem;
}

.text-section p {
    padding: 2rem, 2rem, 2rem, 0;
    font-size: 1rem;
    line-height: 1.6;
}

.subtitle {
    text-indent: -0.25rem;
}
