@import url('@/app/assets/fonts/satoshi/Fonts/WEB/css/satoshi.css');
@import url("animations.css");

.skill-container {
    display:flex; 
    width: 6vw;
    height: 6vw;
    /* flex: 0 0 calc((100% - (2 * 8rem)) / 6); */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    padding: 2rem;
    opacity: 80%;

}

.skill-container:hover {
    transform: scale(1.10);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.hidden {
    pointer-events: none;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    pointer-events: auto;
    cursor: pointer;
}

.logo {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
}

.logoName {
    margin-top: 0.5rem;
    font-family: Satoshi-Light;
    font-size: 1rem;
    text-align: center;
}

#skills-list {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
}